<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout</title>

    <link rel="stylesheet" href="css/general.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&family=PT+Sans:wght@400;700&display=swap"
        rel="stylesheet">
</head>

<body>

    <div id="whole-container">
        <!-- <div class="filter-layer">

        </div> -->



        <div id="battle-side">

            <div id="boss">

                <img id="boss-img" src="images/boss.png" alt="boss">
                <div id="boss-info">



                </div>

            </div>

            <div id="player">

                <div id="player-wrapper">

                    <img id="player-img" src="images/primrose.png" alt="primrose">
                    <div class="player-info">

                        <div class="player-options">
                            Attack
                        </div>
                        <div class="player-options">
                            Dancer Skills
                        </div>
                        <div class="player-options">
                            Item
                        </div>
                        <div class="player-options">
                            Defend
                        </div>
                        <div class="player-options">
                            Flee
                        </div>

                    </div>


                </div>


            </div>

        </div>

        <div id="info-side">

            <div class="character-bg">

                <p>Ophelia</p>
                <hr class="character-hr">
                <p class="hp-points">HP 812/910</p>
                <div class="hp">
                    <span style="width: 90%"></span>
                </div>

                <p class="sp-points">SP 45/92</p>
                <div class="sp">
                    <span style="width: 48%"></span>
                </div>

            </div>

            <div class="character">

                <p>Primrose</p>
                <hr class="character-hr">
                <p class="hp-points">HP 812/910</p>
                <div class="hp">
                    <span style="width: 90%"></span>
                </div>

                <p class="sp-points">SP 45/92</p>
                <div class="sp">
                    <span style="width: 48%"></span>
                </div>

            </div>


        </div>

    </div>

</body>

</html>