:root {
    --black: rgb(46, 46, 46);
}

body {
    max-width: 360px;
    margin: auto;
    color: var(--black);
    font-family: inter;
}

pre {
    display: none;
}

.featured-story {
    display: none;
}

.story-list {
    padding: 0;
    margin-bottom: 40%;
}

.story {
    list-style: none;
    margin-bottom: 10%;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.07), 0 6px 20px 0 rgba(0, 0, 0, 0.07);
    padding: 10%;
}

/* .story > * {
    
} */

.story-title {
    font-size: 18pt;
    color: var(--black);
    text-decoration: none;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    padding: 0 0;
    line-height: 28px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.story-description {
    /* font-size: 12pt; */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    padding: 0 0;
    line-height: 20px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.story-img {
    border-radius: 10px;
}

.story-content {
    margin-top: 2%;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 16px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.story-url {
    margin-top: 10%;
    font-size: 9pt;
    text-decoration: none;
}